h1{
    color: blue;
    text-align: center;
}

/*canvas{*/
/*    width: 100%;*/
/*    display: flex;*/
/*    justify-content: center;*/
/*}*/

#scoreboard{
    display: flex;
    width: 1600px;
    justify-content: space-between;
}


canvas{
    border: 10px solid white;
    display: flex;
    justify-content: space-around;
}

/*.endzone{*/
/*    background-color: blue;*/
/*}*/

#canvas-div{
    background-color: #565656;
    border: 5px solid black;
    padding-top: 4em;
    padding-bottom: 4em;
    display: flex;
    border-radius: 150px;
    justify-content: center;
}

.player-img, #football-icon{
    display: none;
}



