h1{
    color: blue;
    text-align: center;
}

/*canvas{*/
/*    width: 100%;*/
/*    display: flex;*/
/*    justify-content: center;*/
/*}*/

#scoreboard{
    display: flex;
    width: 1600px;
    justify-content: space-between;
}

/*#game-screen{*/
/*    background-color: #565656;*/
/*}*/

canvas{
    border: 10px solid white;
    display: flex;
    justify-content: space-around;
}

/*.endzone{*/
/*    background-color: blue;*/
/*}*/

#canvas-div{
    display: flex;
    justify-content: center;
    width: 100%;
}

#football-icon, #test, #cowboys{
    display: none;
}

#player-selection-window, #game-screen {
    display: none;
}

.player-card{
    width: 200px;
    height: 200px;
    border: none;
    display: flex;
    /*justify-content: center;*/
    /*align-content: center;*/
    /*margin: auto;*/
}

#player-selection{
    display: flex;
    justify-content: center;
    width: 100%;
    margin-right: 2em;
    margin-left: 2em;
}

#player-images{
    max-width: 1300px;
}

.player-img{
    margin: auto;
}

.chosen-player{
    min-width: 200px;
}

.select-player{
    display: none;
}

#ready{
    display: none;
}

h1{
    z-index: 10;
    font-size: 60px;
    font-family: 'Press Start 2P', cursive;
    color: saddlebrown;
    padding-top: 15px;
    width: 100%;
}


body{
    background-image: url("../img/25367446.jpg");
    background-size: cover;
    /*z-index: 10;*/
    height: 100%;
    width: 100%;
    background-position: center;
    background-attachment: fixed;
}

.bg{
    width: 100%;
    z-index: 0;
}

.player-card{
    background-color: transparent;
}

#player-selection-window{
    background-image: none;
    background-color: rgb(76,165,81);
}

.pops-house{
    display: none;
}

.raras-house{
    display: none;
}

#landing-screen{
    display: flex;
    flex-direction: column;
    align-content: center;
}

#play-button{
    padding-top: 22vh;
    margin: auto;
    position: relative;
    text-align: center;
    display: flex;
}

#play-button-text{
    position: absolute;
    top: 67%;
    left: 29%;
}

#play-button-text{
    font-size: 40px;
    font-family: 'Press Start 2P', cursive;
    color: white;
}

.form-control{
    width: 200px;
}

#heading{
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
}

#house{
    margin: 0 auto;
}

label{
    text-align: center;
}

#inner-scoreboard{
    width: 100%;
    display: flex;
    border: 5px solid rgb(76,165,81);

    justify-content: space-between;
}

.player-score{
    width: 200px;
    /*justify-content: space-between;*/
}

#p1-scoreboard{
    display: flex;
    background-color: darkblue;
}

#p2-scoreboard{
    display: flex;
    text-align: end;
    background-color: maroon;

    /*flex-direction: row-reverse;*/
}



#scoreboard{
    display: flex;
    width: 1420px;
    margin: 8px;
    flex-wrap: wrap;
}

/*#landing-screen, #player-selection-window {*/
/*    display: none;*/
/*}*/

h3{
    color: white;
}

#instruction-div{
    width: 100%;
    text-align: center;
}








